:host {
	display: block;
	padding: 16px;
	margin: 0 auto;
	width: calc(100% - 800px);
	min-width: 700px;
}

.button-row {
	margin: 10px 0;
}

.mat-row[ng-reflect-router-link] {
	cursor: pointer;
}

app-header {
	display: block;
}
