.footer {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.54);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	white-space: nowrap;
	.title {
		padding-right: 8px;
	}
}

.footer-right {
	width: 50%;

	.footer-line {
		text-align: right;
	}
}

.footer-left {
	width: 50%;
}

.footer-line {
	line-height: 1.5;
}
