<div *ngFor="let field of fields" class="mat-typography" [ngSwitch]="field.type">
	<div *ngSwitchCase="'input'" class="field">
		<div class="field__title">{{field.name}}</div>
		<div class="field__description" *ngIf="field.description">{{field.description}}</div>
		<div class="field__answer field__answer--input">
			{{field.value}}
		</div>
	</div>
	<div *ngSwitchCase="'select-single'" class="field">
		<div class="field__title">{{field.name}}</div>
		<div class="field__description field__description--select-single" *ngIf="field.description">{{field.description}}</div>
		<div class="field__answer field__answer--select-single">
			<mat-form-field title="{{field.choices[field.value[0]]}}">
				<mat-select [(value)]="field.value[0]">
					<mat-option *ngFor="let item of field.choices; index as i"
								value="{{i}}"
								title="{{item}}"
								[disabled]="item !== field.choices[field.value[0]]">
						{{item}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div *ngSwitchCase="'radio'" class="field">
		<div class="field__title">{{field.name}}</div>
		<div class="field__description" *ngIf="field.description">{{field.description}}</div>
		<div class="field__answer field__answer--radio">
			<mat-radio-group [(value)]="field.value[0]">
				<mat-radio-button *ngFor="let item of field.choices; index as i"
								  value="{{i}}"
								  [disabled]="item !== field.choices[field.value[0]]">
					{{item}}
				</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>
	<div *ngSwitchCase="'textarea'" class="field">
		<div class="field__title">{{field.name}}</div>
		<div class="field__description" *ngIf="field.description">{{field.description}}</div>
		<div class="field__answer field__answer--textarea">
			{{field.value}}
		</div>
	</div>
	<div *ngSwitchCase="'checkbox'" class="field">
		<div class="field__title">{{field.name}}</div>
		<div class="field__description" *ngIf="field.description">{{field.description}}</div>
		<div class="field__answer field__answer--checkbox">
			<mat-checkbox *ngFor="let item of field.choices; index as i"
						  (click)="emulateReadonly()"
						  [disabled]="!valueExists(field, i)"
						  [checked]="valueExists(field, i)">{{item}}</mat-checkbox>
		</div>
	</div>
</div>

<!--<div class="mat-subheading-1">subheading-1</div>-->
<!--<div class="mat-body-1">body-1</div>-->
<!--<div class="mat-body-2">body-2</div>-->
<!--<div class="mat-caption">caption</div>-->
<!--<div class="mat-button">button</div>-->
<!--<div class="mat-input">input</div>-->
<!--<div class="mat-body-1"></div>-->
