.main-menu {
	.spacer {
		flex: 1 1 auto;
	}

	.button-row {
		display: flex;
	}

	.mat-icon {
		margin: 0;
	}

	.mat-icon-button {
		margin-left: 8px;
	}

	.mat-button {
		line-height: 40px;
		text-transform: uppercase;

		&:not(:first-of-type) {
			margin-left: 8px;
		}

		&.active {
			cursor: default;
			.mat-button-focus-overlay {
				opacity: 1;
			}
		}
	}
}
