@import '~@angular/material/theming';
@include mat-core();
@import 'variables';
@include angular-material-theme($app-theme);

@font-face {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	src: url('/assets/fonts/MaterialIcons-Regular.eot');
	src: url('/assets/fonts/MaterialIcons-Regular.eot') format('embedded-opentype'),
	url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype'),
	url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
	url('/assets/fonts/MaterialIcons-Regular.svg') format('svg');
}

.material-icons, mat-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 12px;

	font-family: 'Material Icons';
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;

	letter-spacing: 0;
	text-transform: none;

	user-select: none;

	speak: none;
	direction: ltr;
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	-o-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
